.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-small {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



button{
  font-size: 16px;
  font-weight: bold;
  padding: 12px 36px;
  background-color: #4E47FF;
  color: white;
  font-family: "Raleway", sans-serif;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
body{
  
}
.banner{
  background-image: url(/Assets/Hero-bg.png);
  padding-left: 150px;
  padding-top: 0px;
  padding-right: 150px;
  padding-bottom: 0px;
  margin: 0;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color: #4E47FF;
  font-size: 34px;
  font-weight: 900;
  margin-top: 50px;
}

.banner-txt{
  text-align: center;
  padding-left: 117.5px;
  padding-right: 117.5px;
  padding-top: 150px;
  padding-bottom: 170px;
}

.txt-title h2{
  font-size: 65px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  margin-bottom: 37px;
}
.txt-title button{
  margin: auto;
}
